PORT=3010

# Gemini
GEMINI_API_KEY=tu_api_key_de_google_ai_studio
GEMINI_MODEL=gemini-3.5-flash

# Firebase Admin
FIREBASE_PROJECT_ID=comandero-6907f
FIREBASE_RESTAURANT_ID=principal
GOOGLE_APPLICATION_CREDENTIALS=./firebase-service-account.json

# Bot control
BOT_ENABLED=true
BOT_ADMIN_TOKEN=cambia_este_token_largo

# Mensajes / personalidad
BUSINESS_NAME=Burger Lab
DEFAULT_DELAY_MINUTES=10
BOT_PERSONALITY=Amable, natural, breve y con tono de restaurante boliviano. No sonar robotico.
BOT_TIMEZONE=America/La_Paz
BOT_OPEN_HOUR=17
BOT_CLOSE_HOUR=23
